@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

:root {
    --primary: #d3d3d3;
    --secondary: #ec5242;
    --text-color: #272a31;
    --background: rgb(230 230 230 / 47.9%);
    --weight: bold;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato";
}

body{
    width: 100%;
}

.section-1{
    width: 100%;
    background-image: url("/images/header.png");
    header{
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        .contacts{
            display: flex;
            justify-content: flex-end;
            background-color: var(--text-color);
            color: var(--primary);
            div{
                display: flex;
                gap: 4rem;
                justify-content: space-around;
                padding: .5rem 4rem;
                a{
                    font-size: 1.08rem;
                    font-weight: bold;
                    color: var(--primary);
                    text-decoration: none;
                    i{
                        font-size: 1.2rem !important;
                    }
                }
            }
        }
    }
    
}
